Repository typeddjango/django-stubs, pull requests merged in 2024-05, with the labels that each got.

#2117 Prepare django-stubs-ext for QuerySet typevar refactor
  ext/django_stubs_ext/aliases.py
Labels: django-stubs-ext

#2104 Remove QuerySet alias hacks via PEP 696 TypeVar defaults
  README.md
  django-stubs/db/models/manager.pyi
  django-stubs/db/models/query.pyi
  ext/django_stubs_ext/aliases.py
  mypy_django_plugin/lib/fullnames.py
  mypy_django_plugin/transformers/managers.py
  setup.py
  tests/typecheck/contrib/admin/test_decorators.yml
  tests/typecheck/contrib/admin/test_options.yml
  tests/typecheck/contrib/sitemaps/test_generic_sitemap.yml
  tests/typecheck/db/models/test_query.yml
  tests/typecheck/fields/test_related.yml
  tests/typecheck/managers/querysets/test_annotate.yml
  tests/typecheck/managers/querysets/test_basic_methods.yml
  tests/typecheck/managers/querysets/test_from_queryset.yml
  tests/typecheck/managers/querysets/test_querysetany.yml
  tests/typecheck/managers/querysets/test_values.yml
  tests/typecheck/managers/querysets/test_values_list.yml
  tests/typecheck/managers/test_managers.yml
  tests/typecheck/models/test_abstract.yml
  tests/typecheck/models/test_contrib_models.yml
  tests/typecheck/test_forms.yml
  tests/typecheck/views/generic/test_detail.yml
  tests/typecheck/views/generic/test_list.yml
Labels: release notes reminder

#2131 Update django to 5.0.5
  django-stubs/contrib/gis/db/backends/oracle/features.pyi
  django-stubs/db/models/__init__.pyi
  django-stubs/db/models/query_utils.pyi
  mypy.ini
  requirements.txt
  scripts/stubtest/allowlist.txt
  scripts/stubtest/allowlist_todo.txt
  scripts/stubtest/allowlist_todo_django50.txt
  setup.py
Labels: release notes reminder

#2127 Increase priority of mypy internal Django settings import
  mypy_django_plugin/main.py
  tests/typecheck/conf/test_settings.yml
Labels: mypy-plugin

#2142 Fix 'Import cycle from Django settings module' errors function context
  mypy_django_plugin/transformers/settings.py
  tests/typecheck/conf/test_settings.yml
Labels: mypy-plugin

#2143 Adjust priority of Django settings import again
  mypy_django_plugin/main.py
Labels: mypy-plugin
